<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"></script>
    <style
      rel
      href="styles.css"></style>

    <style>
      * {
        margin: 0px;
      }
      body {
        background: linear-gradient(to top, black, rgb(255, 133, 153));
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
      }

      header {
        background-color: #333;
        color: #fff;
        padding: 15px;
        text-align: center;
        position: relative;
      }

      .center-item {
        display: inline-block;
      }

      .left-item,
      .right-item {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .left-item {
        left: 15px;
      }
      #search {
        color: red;
        width: 400px;
      }

      .right-item {
        right: 15px;
      }

      .random-big {
        height: 700px;
        width: 100%;
        background-color: #00ffff67;
      }

      h2 {
        display: block;
        justify-content: center;
      }

      h1 {
        color: white;
        display: block;
        margin: 10px;
        font-size: 30px;
      }

      .movies-wrapper {
        display: flex;
        overflow-x: auto;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        scroll-snap-type: x mandatory;
      }
      .movie {
        flex: 0 0 auto; /* Don't grow or shrink, maintain original size */
        margin-right: 10px; /* Add some spacing between images */
        height: 500px;
        width: 350px;
        scroll-snap-align: start; /* Align to the start of each image */
      }
      .movie:hover {
        cursor: pointer;
        opacity: 80%;
      }
      p {
        color: black;
        margin: 50% 0;
        text-align: center;
      }
      h4 {
        text-align: center;
        color: white;
        margin: 10px;
      }

      .close {
        cursor: pointer;
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
        font-size: large;
      }

      /* popup stuff */
      #nav {
        height: 80px;
        border: 1px solid black;
      }

      #icon {
        float: right;
        height: 70px;
        width: 70px;
        padding: 2px;
        transition: 0.2s ease-in-out;
      }

      #icon:hover {
        transform: scale(1.05, 1.05);
      }

      #sidebar {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        border-radius: 5px;
        float: right;
        background-image: url("images/theater.jpg");
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply;
        width: 250px;
        transition: all 0.2s;
      }

      #x-out {
        float: right;
        width: 20px;
        height: 20px;
        color: #fff;
        font-size: 30px;
        font-weight: 400;
        transition: 0.14s ease;
        padding-bottom: 5px;
      }

      #x-out:hover {
        transform: scale(1.1, 1.1);
        color: red;
        cursor: pointer;
      }

      #subheader {
        font-size: 30px;
        font-weight: 100;
        font-kerning: normal;
        color: #fff;
      }

      #empty {
        font-size: 20px;
        color: #fff;
        font-style: italic;
      }

      /*watchlist stuff*/
      ul {
        list-style: none;
        padding-left: 5px;
      }

      .title,
      .year,
      .genre,
      .blurb {
        color: #fff;
        transition: all 0.2s;
      }
      .title {
        font-size: 25px;
        font-weight: 500;
      }
      .year,
      .genre {
        font-style: italic;
        font-size: 15px;
      }

      .thumbnail {
        padding-top: 5px;
        height: 160px;
        width: 120px;
        transition: all 0.2s;
      }

      .blurb {
        width: 220px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-size: 0px;
        border-bottom: 4px dotted white;
      }

      .blurb:hover {
        font-size: 15px;
        background-color: transparent;
      }

      .movie-cols {
        display: flex;
      }

      .info {
        padding-top: 10px;
      }

      /* Modal stuff*/

      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: red;
        text-decoration: none;
        cursor: pointer;
      }

      #streaming {
        list-style-type: none;
        padding: 0;
      }

      #addToList {
        background-color: #4caf50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      #movieTitle {
        font-size: 40px;
        font-weight: 500;
        font-kerning: normal;
        color: #000;
        text-align: left;
      }
      #closeModal {
        position: absolute;
        font-size: 48px;
        top: 10px;
        right: 10px;
      }

      #myModal {
        color: black;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: left;
        align-items: left;
      }

      .modal-content {
        color: black;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.9),
          rgba(255, 255, 255, 0)
        );
        padding: 20px;
        max-width: 800px;
        width: 100%;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <header>
      <h1 class="left-item">CineSwipe</h1>
      <form class="center-item">
        <input
          type="text"
          id="search"
          name="search"
          placeholder="Search" />
      </form>
      <div
        id="nav"
        class="right-item">
        <img
          id="icon"
          alt="burger menu"
          src="images/burger-menu.svg"
          onclick="openSidebar()" />
      </div>
    </header>

    <section>
      <div class="random-big">
        <h2>Random Movie</h2>
      </div>
    </section>

    <section>
      <h1>Top Movies</h1>
      <div class="movies-wrapper">
        <div class="movie popular"></div>
        <div class="movie popular"></div>
        <div class="movie popular"></div>
        <div class="movie popular"></div>
        <div class="movie popular"></div>
        <div class="movie popular"></div>
        <div class="movie popular"></div>
        <div class="movie popular"></div>
        <div class="movie popular"></div>
      </div>
    </section>

    <script>
        var user = JSON.parse('<%-JSON.stringify(data)%>');
        console.log(user)

      $(() => {
        $(".movie").on("click", openModal);
        $("#closeModal").on("click", closeModal);
      });
      const images_url = "https://image.tmdb.org/t/p/original/";
      const providers_images_url = "https://image.tmdb.org/t/p/original";

      async function openModal() {
        let movieId = $(this).data("id");
        let movieName = $(this).data("name");
        let movieBackground = $(this).data("background");

        $("#movieTitle").text(movieName);
        $("#myModal").css({
          "background-image": "url(" + images_url + movieBackground + ")",
          "background-size": "cover",
          "background-position": "center center",
          "background-repeat": "no-repeat",
        });

        const providers = await getProviders(movieId);
        const usProviders = providers.results.US;
        try {
          const streamingProviders = usProviders.flatrate.map((provider) => {
            return provider;
          });

          streamingProviders.forEach((provider) => {
            console.log(provider);
            let img = $(
              `<img src="${providers_images_url}${provider.logo_path}">`
            );
            img.css({
              width: "60px",
            });
            $("#streaming").append(img);
          });
          $("#streaming").append("<br>");
        } catch (err) {
          $("#streaming").text("No streaming providers available");

          console.log(err);
        }
        $("#myModal").css({ display: "flex" });
      }
      function closeModal() {
        $("#streaming").empty();
        $("#myModal").hide();
      }
      var toggleStatus = "closed";

      function setUp() {
        //   setTimeout(function () {
        //     zeroize();
        //   }, 1500);
      }

      function openSidebar() {
        console.log(user.watchlist)

        // $('#your_queue')
        // let info_list = $('<ul>');

        // let title = $('<li>').text()


        // <li>
        //   <div class="movie-item">
        //     <div class="movie-cols">
        //       <div class="mini-column pic">
        //         <img
        //           class="thumbnail"
        //           src="images/totoro.jpg" />
        //       </div>
        //       <div class="mini-column info">
        //         <ul class="info-list">
        //           <li class="title"></li>
        //           <li class="year"></li>
        //           <li class="genre"></li>
        //         </ul>
        //       </div>
        //     </div>
        //     <div class="blurb"></div>
        //   </div>
        // </li>  

        $("#sidebar").show();
        if (toggleStatus == "closed") {
          toggleStatus = "open";
        }
      }

      function closeSidebar() {
        $("#sidebar").hide();
        if (toggleStatus == "open") {
          toggleStatus = "closed";
        }
      }

      var tmdb_api_key = "e2978d1da72adcf778b7bc358679b035";

      const options = {
        method: "GET",
        headers: { accept: "application/json" },
      };

      const popular_url =
        "https://api.themoviedb.org/3/discover/movie?api_key=" +
        tmdb_api_key +
        "&include_adult=false&include_video=false&language=en-US&page=1&sort_by=popularity.desc";

      async function getPopular() {
        try {
          let response = await fetch(popular_url, options);
          let data = await response.json();
          return data;
        } catch (err) {
          console.error("error:" + err);
        }
      }
      async function getProviders(movie_id) {
        const providers_url =
          "https://api.themoviedb.org/3/movie/" +
          movie_id +
          "/watch/providers?api_key=" +
          tmdb_api_key;

        try {
          let response = await fetch(providers_url, options);
          let data = await response.json();
          console.log(data);
          return data;
        } catch (err) {
          console.error("error:" + err);
        }
      }
      async function setBigImage() {
        let data = await getPopular();
        $(".random-big").css({
          "background-image":
            "url(" + images_url + data.results[0].backdrop_path + ")",
          "background-size": "cover",
          "background-position": "center center",
          "background-repeat": "no-repeat",
        });
      }
      async function setPopularMovies() {
        let data = await getPopular();
        $(".movie.popular").each(function (index) {
          if (index < data.results.length) {
            $(this).css({
              "background-image":
                "url(" + images_url + data.results[index].poster_path + ")",
              "background-size": "cover",
              "background-position": "center center",
              "background-repeat": "no-repeat",
            });
            $(this).attr("data-id", data.results[index].id);
            $(this).attr("data-name", data.results[index].title);
            $(this).attr("data-background", data.results[index].backdrop_path);
          }
        });
      }
      setBigImage();
      setPopularMovies();
      // setTinderMovies();
    </script>

    <section>
      <h1>Your Picks</h1>
      <div class="movies-wrapper">
        <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>
      </div>
    </section>

    <div id="myModal">
      <div class="modal-content">
        <h2 id="movieTitle"></h2>
        <span
          class="close"
          id="closeModal"
          >&times;
        </span>
        <h2 class="stream-title">Where to stream</h2>
        <ul id="streaming"></ul>
        <button id="addToList">Add to watchlist</button>
      </div>
    </div>

    <!-- sidebar stuff -->

    <div id="sidebar">
      <div
        id="x-out"
        onclick="closeSidebar()">
        &#x2715;
      </div>

      <div id="subheader">Your Watchlist</div>

      <div id="empty"></div>

      <ul id="your-queue">
        <li>
          <div class="movie-item">
            <div class="movie-cols">
              <div class="mini-column pic">
                <img
                  class="thumbnail"
                  src="images/totoro.jpg" />
              </div>
              <div class="mini-column info">
                <ul class="info-list">
                  <li class="title"></li>
                  <li class="year"></li>
                  <li class="genre"></li>
                </ul>
              </div>
            </div>
            <div class="blurb"></div>
          </div>
        </li>  
    </ul>
    </div>
  </body>
  <script>
    $("document").ready(()=> {

    })
  </script>
</html>