<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="tempstyle.css">
        <title>Create Account</title>
    </head>

    <body>
        <div class="wrapper">
            <form action="/signup" method="post">
                <h1>New Account</h1>
                <div class="input-box">
                    <label for="name">Username</label>
                    <input class="input" type="text" id="name" name="name" placeholder="user123" required>
                </div>
                <div class="input-box">
                    <label for="email">Email</label>
                    <input class="input" type="text" id="email" name="email" placeholder="name@example.com" required>
                </div>
                <div class="input-box">
                    <label for="password">Password</label>
                    <input class="input" type="password" id="password" name="password" placeholder="********" required>
                </div>
                <button class="btn" type="submit">Create Account!</button>
            </form>
            <a href="/login" class="alr"><br>I have an account already</a>
        </div>
    </body>
</html>





</html>
